/* Poppins Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.u--center {
	@apply bg-primary justify-center items-center flex;
}

.swiper {
	width: 100%;
	height: 100%;
}

.title {
	@apply text-4xl font-poppins uppercase text-center font-bold;
}

.title-primary {
	@apply text-primary;
}
.title-secondary {
	@apply text-secondary;
}

.btn {
	@apply text-light px-5 py-2 font-poppins uppercase text-lg inline-block transition-colors duration-300 ease-linear max-lg:text-sm;
}
.btn.btn-primary {
	@apply bg-primary border hover:bg-secondary hover:border-secondary hover:text-light;
}

.btn.btn-secondary--rounded {
	@apply bg-dark_secondary hover:bg-dark2_secondary rounded-full;
}

.header {
	@apply bg-primary;
}

.header__logo {
	@apply max-sm:ml-3;
}
.header__logo img {
	@apply w-32 max-lg:w-24;
}
.header__container {
	@apply container mx-auto flex items-center justify-between min-h-[7rem];
}

.header .header__menu--list {
	@apply text-light flex items-center gap-x-3 justify-center min-h-[5.5rem] max-sm:hidden;
}

.header .header__menu--list .header__menu--item a {
	@apply font-poppins uppercase text-xl inline-block p-2 hover:text-secondary transition-colors duration-300 ease-linear border-b-2 border-secondary max-lg:text-sm;
}

.header__buttons {
	@apply min-h-[6.5rem] flex items-center gap-x-5;
}
.header__buttons .header_buttons--link svg {
	@apply text-xl  text-light hover:text-secondary transition-colors duration-300 ease-linear max-lg:text-sm;
}
.header__order {
	@apply max-sm:hidden;
}

.header__toggle {
	@apply hidden max-sm:block mr-3;
}

.header__toggle svg {
	@apply text-2xl text-light hover:text-secondary transition-colors duration-300 ease-linear;
}

.mobile-menu {
	@apply opacity-0 sm:hidden fixed flex h-screen w-screen top-0 left-0 items-center justify-center z-20 bg-light translate-x-full transition-all duration-300 ease-linear;
}
.mobile-menu--show {
	@apply translate-x-0 opacity-100;
}
.mobile-menu__content {
	@apply bg-light p-5 rounded-lg relative min-w-[30rem] max-sm:min-w-[17rem];
}
.mobile-menu__close {
	@apply absolute top-2 right-2 text-3xl text-dark2_secondary cursor-pointer;
}
.mobile-menu__menu ul {
	@apply flex flex-col items-center gap-y-5;
}
.mobile-menu__menu .mobile-menu__menu--item {
	@apply w-full;
}
.mobile-menu__menu .mobile-menu__menu--item a {
	@apply w-full text-center font-poppins uppercase text-4xl inline-block p-2 hover:text-secondary transition-colors duration-300 ease-linear border-b-2 border-secondary;
}

.modal {
	@apply fixed h-screen w-screen top-0 left-0 bg-opacity-50 items-center justify-center z-50 bg-black hidden;
}
.modal.modal--active {
	@apply flex;
}

.modal__container {
	@apply bg-light p-5 rounded-lg relative min-w-[30rem] max-sm:min-w-[17rem];
}

.modal__container .modal__content {
	@apply mb-5;
}
.modal__container .modal__content ul {
	@apply max-h-72 overflow-auto;
}
.modal__container .modal__content ul li:not(:last-child) {
	@apply border-b-2 border-dark2_secondary my-2 py-2;
}
.modal__container .modal__content ul li a {
	@apply flex items-center flex-row justify-between  gap-x-5 transition-colors duration-300 ease-linear;
}
.modal__container .modal__content ul li a:hover {
	@apply bg-light_darker rounded-md;
}
.modal__container .modal__content .modal__food-img {
	@apply rounded-md w-12 h-12 flex items-center;
}
.modal__food-name {
	@apply uppercase text-lg font-semibold;
}
.modal__food-price {
	@apply text-dark2_secondary font-poppins font-bold;
}

.modal__search input {
	@apply w-full border-2 border-dark2_secondary rounded-md p-2 text-dark2_secondary bg-light outline-none;
}

.modal__close {
	@apply absolute top-2 right-2 text-3xl text-dark2_secondary cursor-pointer;
}

.hero-slider {
	@apply max-w-[120rem] grid grid-cols-12 bg-primary gap-4 h-[50rem] py-16 px-5 max-2xl:h-[40rem] max-lg:h-[34rem] 
	max-lg:py-10 max-md:h-[25rem] max-md:py-5 max-sm:h-[22rem];
}

.hero-slider .hero-slider__navigation {
	@apply col-span-1 flex flex-col items-center justify-center gap-y-5 max-md:col-span-3;
}
.hero-slider__navigation--buttons {
	@apply bg-light rounded-full w-16 h-16 flex items-center justify-center cursor-pointer hover:bg-light_darker transition-colors duration-300 ease-linear;
}
.hero-slider .hero-slider__slider {
	@apply col-span-11 bg-primary h-[45rem] max-2xl:h-[35rem] max-lg:h-[28rem] max-md:col-span-9 max-md:h-[20rem] max-sm:h-[17rem];
}
.hero-slider__slider--container {
	@apply flex items-center justify-center h-full;
}
.hero-slider__slider--text {
	@apply w-4/12 max-md:hidden;
}
.hero-slider__slider--text h1 {
	@apply text-7xl max-2xl:text-5xl max-lg:text-2xl text-light font-poppins font-bold;
}
.hero-slider__slider--text p {
	@apply text-lg max-lg:text-sm  text-gray font-poppins font-medium mt-8;
}
.hero-slider__slider--image {
	@apply w-7/12 max-md:w-full;
}

.hero-slider__slider--image a {
	@apply flex items-center justify-end max-md:justify-center;
}

.hero-slider__slider--image img {
	@apply max-w-[50rem] w-[85%] max-md:w-[70%] max-sm:min-w-[11.3rem];
}
