/* Poppins Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.swiper {
	width: 100%;
	height: 100%;
}

.title {
	@apply text-4xl font-poppins uppercase text-center font-bold max-sm:text-3xl;
}

.title-primary {
	@apply text-primary;
}
.title-secondary {
	@apply text-secondary;
}

.input {
	@apply p-3 my-3 w-full border border-secondary outline-secondary;
}

.u--center {
	@apply bg-primary justify-center items-center flex;
}

.u--alert {
	@apply text-red-600;
}

.u--alert-border {
	@apply border-red-600;
}

/* Buttons */

.btn {
	@apply text-light px-5 py-2 font-poppins uppercase text-lg inline-block transition-colors duration-300 ease-linear max-lg:text-sm;
}
.btn.btn-primary {
	@apply bg-primary border hover:bg-secondary hover:border-secondary hover:text-light;
}

.btn.btn-primary.btn-active {
	@apply bg-secondary border-secondary text-light;
}

.btn.btn-primary--rounded {
	@apply rounded-3xl bg-primary border hover:bg-secondary hover:border-secondary hover:text-light;
}

.btn.btn-secondary--rounded {
	@apply bg-dark_secondary hover:bg-dark2_secondary rounded-full;
}

.btn.btn-secondary {
	@apply bg-dark_secondary hover:bg-dark2_secondary;
}
.btn.btn--full-rounded {
	@apply rounded-full;
}
.btn.btn-primary--no-hover {
	@apply hover:bg-primary;
}
.btn.btn--bigger {
	@apply text-2xl;
}

/* Buttons End */

/*Sections */

/* Header */
.header {
	@apply bg-primary sticky top-0 left-0 w-full z-10;
}

.header__logo {
	@apply max-sm:ml-3;
}
.header__logo img {
	@apply w-32 max-lg:w-24;
}
.header__container {
	@apply container mx-auto flex items-center justify-between min-h-[7rem];
}

.header .header__menu--list {
	@apply text-light flex items-center gap-x-3 justify-center min-h-[5.5rem] max-sm:hidden;
}

.header .header__menu--list .header__menu--item a {
	@apply font-poppins uppercase text-xl inline-block p-2 hover:text-secondary transition-colors duration-300 ease-linear border-b-2 border-secondary max-lg:text-sm;
}
.header__menu--item--active {
	@apply text-secondary;
}

.header__buttons {
	@apply min-h-[6.5rem] flex items-center gap-x-5;
}
.header__buttons .header_buttons--link svg {
	@apply text-xl  text-light hover:text-secondary transition-colors duration-300 ease-linear max-lg:text-sm;
}
.header__order {
	@apply max-sm:hidden;
}

.header__toggle {
	@apply hidden max-sm:block mr-3;
}

.header__toggle svg {
	@apply text-2xl text-light hover:text-secondary transition-colors duration-300 ease-linear;
}

/*Mobile Menu*/
.mobile-menu {
	@apply opacity-0 sm:hidden fixed flex h-screen w-screen top-0 left-0 items-center justify-center z-20 bg-light translate-x-full transition-all duration-300 ease-linear;
}
.mobile-menu--show {
	@apply translate-x-0 opacity-100;
}
.mobile-menu__content {
	@apply bg-light p-5 rounded-lg relative min-w-[30rem] max-sm:min-w-[17rem];
}
.mobile-menu__close {
	@apply absolute top-2 right-2 text-3xl text-dark2_secondary cursor-pointer;
}
.mobile-menu__menu ul {
	@apply flex flex-col items-center gap-y-5;
}
.mobile-menu__menu .mobile-menu__menu--item {
	@apply w-full;
}
.mobile-menu__menu .mobile-menu__menu--item a {
	@apply w-full text-center font-poppins uppercase text-4xl inline-block p-2 hover:text-secondary transition-colors duration-300 ease-linear border-b-2 border-secondary;
}
/*Mobile Menu End*/

/* Header Modal*/

.modal {
	@apply fixed h-screen w-screen top-0 left-0 bg-opacity-50 items-center justify-center z-50 bg-black hidden;
}
.modal.modal--active {
	@apply flex;
}

.modal__container {
	@apply bg-light p-5 rounded-lg relative min-w-[30rem] max-sm:min-w-[17rem];
}

.modal__container .modal__content {
	@apply mb-5;
}
.modal__container .modal__content ul {
	@apply max-h-72 overflow-auto;
}
.modal__container .modal__content ul li:not(:last-child) {
	@apply border-b-2 border-dark2_secondary my-2 py-2;
}
.modal__container .modal__content ul li a {
	@apply flex items-center flex-row justify-between  gap-x-5 transition-colors duration-300 ease-linear;
}
.modal__container .modal__content ul li a:hover {
	@apply bg-light_darker rounded-md;
}
.modal__container .modal__content .modal__food-img {
	@apply rounded-md w-12 h-12 flex items-center;
}
.modal__food-name {
	@apply uppercase text-lg font-semibold;
}
.modal__food-price {
	@apply text-dark2_secondary font-poppins font-bold;
}

.modal__search input {
	@apply w-full border-2 border-dark2_secondary rounded-md p-2 text-dark2_secondary bg-light outline-none;
}

.modal__close {
	@apply absolute top-2 right-2 text-3xl text-dark2_secondary cursor-pointer;
}
/* Header Modal End*/

/* Header End*/

/* Hero Slider */
.hero-slider {
	@apply max-w-[120rem] grid grid-cols-12 bg-primary gap-4 h-[50rem] py-16 px-5 max-2xl:h-[40rem] max-lg:h-[34rem] 
	max-lg:py-10 max-md:h-[25rem] max-md:py-5 max-sm:h-[22rem];
}

.hero-slider .hero-slider__navigation {
	@apply col-span-1 flex flex-col items-center justify-center gap-y-5 max-md:col-span-3;
}
.hero-slider__navigation--buttons {
	@apply bg-light rounded-full w-16 h-16 flex items-center justify-center cursor-pointer hover:bg-light_darker transition-colors duration-300 ease-linear;
}
.hero-slider .hero-slider__slider {
	@apply col-span-11 bg-primary h-[45rem] max-2xl:h-[35rem] max-lg:h-[28rem] max-md:col-span-9 max-md:h-[20rem] max-sm:h-[17rem];
}
.hero-slider__slider--container {
	@apply flex items-center justify-center h-full;
}
.hero-slider__slider--text {
	@apply w-4/12 max-md:hidden;
}
.hero-slider__slider--text h1 {
	@apply text-7xl max-2xl:text-5xl max-lg:text-2xl text-light font-poppins font-bold;
}
.hero-slider__slider--text p {
	@apply text-lg max-lg:text-sm  text-gray font-poppins font-medium mt-8;
}
.hero-slider__slider--image {
	@apply w-7/12 max-md:w-full;
}

.hero-slider__slider--image a {
	@apply flex items-center justify-end max-md:justify-center;
}

.hero-slider__slider--image img {
	@apply max-w-[50rem] w-[85%] max-md:w-[70%] max-sm:min-w-[11.3rem];
}

/* Hero Slider End */

/* Campaigns */
.campaigns {
	@apply border-t-2 border-black border-opacity-10 shadow-campaigns-shadow pb-1;
}

.campaigns .campaigns__container {
	@apply w-full flex flex-wrap items-center justify-center gap-x-5 gap-y-2 my-24 max-md:w-full max-md:px-1;
}

.campaigns .campaigns__container .campaigns__item {
	@apply bg-primary flex flex-wrap items-center justify-start gap-x-3 gap-y-3 p-6 rounded-md max-md:p-1 max-sm:justify-center;
}

.campaigns__item--img {
	@apply rounded-full w-40 border-secondary border-4 overflow-hidden;
}

.campaigns__item--img img {
	@apply scale-105 hover:scale-110 transition-transform duration-300 ease-linear;
}
.campaigns__item--text {
}
.campaigns__item--text h2 {
	@apply text-3xl font-poppins text-dark2_secondary max-sm:text-lg;
}

.campaigns__item--text h3 {
	@apply text-3xl font-poppins font-bold text-light py-2 max-sm:text-lg;
}

.campaigns__item--text p {
	@apply text-lg font-poppins font-medium text-gray max-w-sm pb-2 max-sm:text-sm;
}

/* Campaigns End */

/*Menu*/
.menu {
	@apply py-16 px-5;
}

.menu__title {
	@apply mb-12;
}

.menu .menu__container {
	@apply container mx-auto;
}

.menu__category {
	@apply flex flex-wrap items-center justify-center gap-x-5 mb-12;
}

.menu__foods {
	@apply flex flex-row flex-wrap gap-x-8 gap-y-10 justify-center;
}

.menu__item {
	@apply bg-primary rounded-2xl;
}

.menu__item--image {
	@apply rounded-t-xl overflow-hidden bg-light text-center flex justify-center items-center;
}
.menu__item--image img {
	@apply w-auto h-auto;
}
.menu__item--content {
	@apply p-5;
}
.menu__item--title {
	@apply text-light font-poppins font-bold text-2xl py-4;
}
.menu__item--description {
	@apply text-gray font-poppins font-medium text-lg py-4 max-w-xs;
}
.menu__item--footer {
	@apply flex items-center justify-between p-4;
}
.menu__item--price {
	@apply text-dark2_secondary font-poppins font-bold text-2xl;
}
.menu__more {
	@apply text-center pt-12;
}
/*Menu End*/

/* About */

.about {
	@apply pt-16 pb-8 px-5 flex flex-col items-center justify-center;
}

.about__title {
	@apply gap-y-5 max-w-3xl flex flex-col items-center justify-center;
}
.about__title h2 {
	@apply text-6xl font-poppins font-bold text-secondary max-sm:text-2xl;
}

.about__title h4 {
	@apply text-xl text-center max-sm:text-lg;
}
.about__container {
	@apply w-full flex flex-row flex-wrap items-center justify-center gap-x-5 gap-y-2 my-24 max-lg:flex-col;
}

.about__text {
	@apply bg-primary text-light max-w-lg p-16 max-sm:p-8;
}
.about__text h5 {
	@apply text-3xl font-poppins font-bold mb-5 max-sm:text-xl;
}

.about__text p {
	@apply text-xl font-poppins text-gray text-justify max-sm:text-sm;
}

.about__image {
	@apply flex items-center justify-center;
}

.about__imag--background {
	@apply bg-secondary h-[30rem] w-[25rem] flex items-center justify-center max-2xl:w-72 max-lg:w-[25rem] max-sm:w-auto max-sm:h-auto;
}
.about__image img {
	@apply w-[40rem] translate-x-1/4 max-sm:translate-x-0;
}
/* About End */

/* Product */
.product {
	@apply container mx-auto flex flex-row flex-wrap items-center justify-around gap-x-10 gap-y-2 my-24 max-lg:flex-col max-sm:justify-center;
}
.product__image {
}
.product__image img {
	@apply w-[40rem] max-sm:w-[20rem];
}
.product__price {
	@apply text-secondary font-poppins font-bold text-2xl mb-4 mt-4;
}
.product__info--text {
	@apply max-w-lg font-poppins text-lg text-gray mb-4;
}
.product__size {
	@apply flex flex-row flex-wrap gap-x-2 gap-y-2;
}

.product__extra h3 {
	@apply mt-4 text-2xl font-poppins font-bold text-primary;
}
.product__extra--items {
	@apply flex flex-row flex-wrap gap-x-2 gap-y-2 font-medium text-lg text-gray;
}
.product__extra--items input {
	@apply accent-secondary;
}

/* Product end */

/* Book Table */
.book-table {
	@apply flex flex-wrap gap-y-10 items-center justify-center py-16 px-5 gap-x-10;
}

.book-table__form {
	@apply w-1/3 max-lg:w-full;
}
.book-table__map {
	@apply max-lg:w-full;
}

.book-table__map iframe {
	@apply max-lg:w-full;
}
/* Book Table End */

/* Footer */
.footer {
	@apply text-center gap-x-20 flex flex-wrap items-start 
	justify-center bg-primary text-light pt-16 px-5 max-lg:flex-col max-lg:items-center;
}

.footer h2 {
	@apply text-2xl text-secondary underline;
}

.footer__contact a {
	@apply mt-5 flex gap-x-4 no-underline text-xl font-poppins font-medium text-light;
}

.footer p {
	@apply mt-5 max-w-xs text-xl font-poppins font-medium text-light;
}

.footer__social--icons {
	@apply flex gap-x-4 items-center justify-center mt-5;
}
.footer__social--icons a {
	@apply text-3xl hover:text-secondary transition-colors duration-300;
}

/* Footer End */

/* Login */
.login {
	@apply py-20 max-sm:px-3 min-h-[calc(100vh-24.7rem)];
}

.login__container {
	@apply max-w-xl mx-auto;
}
/* Login End */

/* Cart */

.cart {
	@apply pt-20 max-sm:px-3 min-h-[calc(100vh-24.7rem)];
}

.cart__table {
	@apply container mx-auto my-10;
}

.cart__table thead {
	@apply text-secondary font-poppins font-bold text-4xl bg-primary max-sm:hidden max-md:text-2xl;
}

.profile__content .cart__table thead {
	@apply max-lg:hidden text-lg;
}

.cart__table thead tr {
	@apply rounded-t-xl;
}

.cart__table thead th:first-child {
	@apply rounded-tl-xl;
}

.cart__table thead th:last-child {
	@apply rounded-tr-xl;
}

.cart__table thead th {
	@apply px-5 py-2;
}

.cart__table tbody tr {
	@apply max-sm:flex max-sm:flex-col;
}
.profile__content .cart__table tbody tr {
	@apply max-lg:flex max-lg:flex-col;
}

.table__cell {
	@apply flex flex-row items-stretch justify-center flex-nowrap max-sm:justify-start;
}

.profile__content .table__cell {
	@apply max-lg:justify-start;
}

.table__inner_title {
	@apply hidden bg-primary text-secondary font-poppins 
	font-bold text-sm max-sm:flex items-center justify-center w-20;
}
.profile__content .table__inner_title {
	@apply max-lg:flex;
}
tbody tr {
	@apply max-sm:my-3 odd:bg-zinc-100 even:bg-zinc-300 max-sm:rounded-xl;
}
.profile__content tbody tr {
	@apply max-lg:rounded-xl;
}
tbody tr td {
	@apply border-b border-gray;
}

tbody tr td:first-child .table__inner_title {
	@apply rounded-tl-xl;
}

tbody tr td:last-child .table__inner_title {
	@apply rounded-bl-xl;
}

.table__info {
	@apply text-zinc-700 max-sm:text-xl mx-5 text-2xl font-poppins font-bold flex flex-1 items-center justify-center gap-x-5 my-5;
}
.profile__content .table__info {
	@apply text-lg font-medium;
}

.cart__payment {
	@apply flex flex-row gap-x-5 max-sm:gap-y-3 items-center justify-center max-sm:flex-col mb-5;
}
.cart__payment--text {
	@apply text-zinc-700 text-2xl font-poppins font-bold;
}

.cart__status {
	@apply bg-secondary mt-12 mx-auto container flex flex-row max-sm:gap-y-3 items-center justify-between max-sm:flex-col mb-5;
}
.cart__status_item {
	@apply m-5 flex flex-col gap-y-3 items-center justify-center;
}
.cart__status_item--icon {
	@apply text-black text-6xl max-sm:text-3xl;
}

.cart__status--text {
	@apply text-black text-2xl max-sm:text-xl font-poppins font-bold;
}

/* Cart End */

/* profile */

.profile {
	@apply py-20 px-12 max-sm:px-3 min-h-[calc(100vh-24.7rem)] items-center justify-center flex flex-row gap-x-10 max-sm:flex-wrap;
}
.profile label {
	@apply text-zinc-700 text-lg font-poppins font-medium block w-full;
}

.profile__menu {
	@apply min-w-[16rem] border border-gray rounded-xl flex flex-col;
}

.profile__image {
	@apply mx-auto rounded-full w-28 h-28 overflow-hidden mt-6;
}
.profile__image img {
	@apply w-full h-full object-cover;
}
.profile__button {
	@apply border border-gray flex flex-row items-center justify-center gap-x-2;
}

.profile__button:last-child {
	@apply rounded-b-xl hover:bg-red-800 hover:border-red-800;
}

.profile__content--title {
	@apply text-4xl font-poppins font-bold text-primary mb-3;
}

.profile__content {
	@apply max-w-2xl;
}

.profile__items--form {
	@apply flex flex-wrap flex-row gap-x-5 items-center justify-center;
}
