/* Poppins Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 10px;
}

.header {
	@apply bg-primary;
}

.header__container {
	@apply container mx-auto flex items-center justify-between min-h-[9rem];
}

.header .header__menu--list {
	@apply text-light flex items-center gap-x-3 justify-center min-h-[6.5rem];
}
.header .header__menu--list .header__menu--item {
}
.header .header__menu--list .header__menu--item a {
	@apply font-poppins uppercase text-3xl inline-block p-2 hover:text-secondary transition-colors duration-300 ease-linear border-b-2 border-secondary;
}

.header__buttons {
	@apply min-h-[6.5rem] flex items-center gap-x-5;
}
.header__buttons .header_buttons--link svg {
	@apply text-3xl  text-light hover:text-secondary transition-colors duration-300 ease-linear;
}

.btn {
	@apply text-light px-5 py-2 rounded-full font-poppins uppercase text-2xl inline-block transition-colors duration-300 ease-linear;
}

.btn.btn-secondary {
	@apply bg-dark_secondary hover:bg-dark2_secondary;
}
